
@import "footer.css";
@import "thanhtoanmain.css";

:root{
  
    --color--red: red;
    --color--redfake:rgb(220, 47, 47);
    --color--black: black;
    --color--white: white;
    --color--green: rgb(42, 167, 42);
    --color--1: #e7dede;
    --color--2: #e9e9e9 ;
    --color--3:rgb(245, 244, 244);
    --color-rgba: 0px 2px 7px 0px rgba(50, 50, 50, 0.69);
    --color--xam:rgb(161, 158, 158);
    --color-4: #e8f1f6;
    --color--gray:#252628;
    --color--blue: #0866ff;
    --color-xamdam:#959595;
    --color--xanhnhat: #337ab7;
    --color--input:rgb(229, 232, 234);

    

}
*{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}


   